<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.immobiliensuchen">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".AngebotAktualisierenActivity"
            android:label="@string/title_activity_ein_angebot"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AngebotActivity"
            android:label="@string/title_activity_angebot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrowseActivity"
            android:label="@string/title_activity_browse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NeuAngebotActivity"
            android:label="@string/title_activity_neu_angebot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KundenActivity"
            android:label="@string/title_activity_kunden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaklerActivity"
            android:label="@string/title_activity_makler_acitivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>